body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

.title-container {
    position: relative;
}

.title-container::before,
.title-container::after {
    background: white;
    content: " ";
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.title-container::before {
    left: 35%;
}

.title-container::after {
    right: 35%;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.s-content {
    font-size: 16px;
}

.s-information {
    text-align: left;
}

p {
    line-height: 1.45;
    margin: 0px;
    display: block;
}

.sections {
    position: relative;
    width: 100%;
    max-width: 100vw; /* Set max-width to viewport width */
    margin: auto;
    padding: 0;
    line-height: 1.45;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.s-img img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: center;
    align-self: center;
    height: 40px;
    width: auto;
}

.s-img {
    text-align: center;
}

.section {
    opacity: 0;
    transition: opacity 2.0s;
}

.section-content {
    padding: 20px; /* Add padding for content */
    max-width: 944px;
    margin: auto;
}


#section-2 p,
#section-3 p,
#section-4 p {
	max-width: 1300px;
	text-align: left;
	margin: 0 auto;
}

.main-photo {
    max-width: 100%; /* Ensure the container doesn't exceed the width of the viewport */
    max-height: 100vh; /* Ensure the container doesn't exceed the height of the viewport */
    text-align: center; /* Center the image horizontally */
    overflow: hidden;
}

.main-photo img {
    max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
    max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
    width: auto; /* Ensure the image maintains its aspect ratio */
    height: auto; /* Ensure the image maintains its aspect ratio */
}

@media (min-width: 1921px) {
    /* If screen width is larger than 1920px, set a fixed width for the container */
    .container {
        width: 1920px;
    }
}

@media (min-height: 1081px) {
    /* If screen height is larger than 1080px, set a fixed height for the container */
    .container {
        height: 1080px;
    }
}

.Exp,
.About,
.Contact {
    background-color: #000000;

}

.Exp h2,
.About h2,
.Contact h2 {
    color: white;
}

#section-2 {
    background-color: #062f4f;
}

#section-3 {
    background-color: #813772;
}

#section-4 {
    background-color: #882601;
}